.card{
  background-color: red;
  width: 12.5rem;
  padding: 10px;
  margin: 10px;
  /* border:5px blue solid; */

}

.header{
  display: flex;
  justify-content: flex-end;
}

.header-icons{
  
  margin: 3px;
  font-size: 2rem;
  cursor: pointer;
  
}